/* WEB */

html {
    background: #262626 url('/images/bg.jpg');
    background-attachment: fixed;
    font-family: Verdana;
    font-size: 14px;
    color: #63e08c;
    overflow: hidden;
    scroll-behavior: smooth;
}

html:hover {
    overflow: auto; /* Fallback */
    overflow: overlay;
    // overflow-y: scroll;
}

body {
    width: 95%;
    margin: 0 auto 0;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    cursor: pointer;
}

header {
    padding-top: 3px !important;

    .open {
        width: 100%;
        clear: both;
        font-size: 30px;
        cursor: pointer;
        margin-bottom: 3px;
    }

    a {
        font-size: 20px !important;
    }
}

/* MENU */

nav {
    background-color: #171b24;
    width: 300px;
}

nav ul {
    margin: 0;
    padding: 0 2px;
    border: 0;
}

nav li.menu {
    width: 284px;
    padding: 5px;
    line-height: 25px;
    text-align: center;
}

nav li {
    display: block;
    width: 294px;
    height: 25px;
    line-height: 15px;
    margin: 2px 0;
    font-size: 12px;
    font-weight: bold;
    color: #0091C0;
    border: 1px solid #08689b;
}

nav a {
    height: 15px;
    display: block;
    font-weight: bold;
    color: #63e08c;
    font-size: 11px;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    background-color: #506f98;
    font-size: 11px;
    text-decoration: none;
}

.dropdown {
    background-color: #171b24;
    color: #63e08c;
    width: 100%;
    padding: 5px;
    font-weight: bold;
    border: 0.5px solid #08689b; -webkit-appearance: none;
}

/* OBSAH */

section {
    width: 100%;
}

section.obsah {
        background-color: #2c3642;
        margin-top: 2px;
    }

section.obsah header {
    background: #2c3642;
    padding: 15px 0;
    height: auto;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

section.obsah article {
    margin-top: -15px;
}

/* TEXT */

.text-center {
    text-align: center;
}

/* ZOZNAMY */

.screenshots {
    margin: 0 15px;
}

ul {
    list-style: none;
    padding: 4px 6px;
    border: 1px solid #008080;
}

li {
    display: inline-block;
    margin: 2px 0;
    vertical-align: top;
    border: 1px solid #0c9dea;
}

.list li {
    width: 100%;
    height: auto;
    border: 0;
}

/* FOOTER */

footer {
    background-color: #242c37;
    color: #63e08c;
    text-align: center;
}

/* A HREF */

a {
    font-family: Verdana;
    font-size: 14px;
    text-decoration: none;
    color: #63e08c;
    font-weight: bold;
}

a:hover {
    font-family: Verdana;
    font-size: 14px;
    text-decoration: underline;
    color: #63e08c;
    font-weight: bold;
}

/* Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 2;
    background-color: #171b24;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.content {
    width: 100%;
}

img.img-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 245px;
    object-fit: cover;
}

// Tiny devices (tiny phones, up to 480px)
@media (min-width: 0px) and (max-width: 479.98px) {
    img.img-size {
        width: 80.50vw;
        height: 25vh;
    }

    img.img-portait-size {
        width: 14.30vh;
        margin-bottom: -3px;
    }
}

// Very small devices (small phones, 480px and up)
@media (min-width: 480px) and (max-width: 576px) {
    img.img-size {
        width: 42.5vw;
        height: 15vh;
    }

    img.img-portait-size {
        width: 15.34vh;
        margin-bottom: -3px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    img.img-size {
        width: 28.5vw;
        height: 15vh;
    }

    img.img-portait-size {
        width: 14.63vh;
        margin-bottom: -3px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    img.img-size {
        width: 29.05vw;
        height: 14vh;
    }

    img.img-portait-size {
        width: 16.18vh;
        margin-bottom: -3px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    img.img-size {
        width: 17.55vw;
        height: 13vh;
    }

    img.img-portait-size {
        width: 16.55vh;
        margin-bottom: -3px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1699.98px) {
    img.img-size {
        width: 17.77vw;
        height: 13vh;
    }

    img.img-portait-size {
        width: 13.41vh;
        margin-bottom: -3px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1700px) {
    img.img-size {
        width: 12.917vw;
        height: 14.665vh;
    }

    img.img-portait-size {
        width: 13.41vh;
        margin-bottom: -3px;
    }
}

/* Sample PopBox CSS Classes */
/* PopBox.js, Copyright (c) 2007, C6 Software, Inc. (http://www.c6software.com/)*/

.PopBoxImgSmall {
    border: none 0px #ffffff;
    cursor: url('/images/popBox/magplus.cur'), pointer;
}

.PopBoxImgBig {
    border: solid 1px #999999;
    cursor: url('/images/popBox/magminus.cur'), pointer;
}

.PopBoxImgShrink {
    cursor: url('/images/popBox/magminus.cur'), pointer;
}

.PopBoxImgLink {
    cursor: pointer;
}

.PopBoxImgMove {
    border: none 0px #ffffff;
    cursor: pointer;
}

/* BACK TO TOP */

.back-to-top {
    position: fixed;
    top: 85%;
    left: 0;
    padding: 15px;
    background-color: #262626;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid #0c9dea;
    border-left: 0;
    font-weight: bold;
    z-index: 1;
    opacity: 0;
    transition-duration: 2s;
}

.show {
    opacity: 1;
    left: 0;
}

.hide {
    opacity: 0;
    left: -100%;
}
